.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    padding: 10px;
}

.header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: rgb(195, 202, 128);
}

.title {
    font-size: 40px;
    font-weight: 600;
    margin-left: 70px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.search-bar input {
    height: 50px;
    width: calc(100% - 50px);
    font-size: 20px;
    padding: 5px;
    border: 1px solid #4b4747;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 50px;
    margin-left: 20px;
}

.search-icon {
    margin-left: -20px;
    margin-right: 50px;
    font-size: 50px;
    background-color: transparent;
}

.search-icon:hover {
    cursor: pointer;
}

.pet-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 15500px;
    margin-left: 60px;
}

.pet-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.pet-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.pet-card h3 {
    margin: 10px 0;
}

.pet-card p {
    margin: 5px 0;
    text-transform: capitalize;
}